attrs==19.3.0
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
codecov==2.0.22
coverage==5.0.4
decorator==4.4.2
entrypoints==0.3
eradicate==1.0
fancycompleter==0.9.1
flake8-eradicate==0.3.0
flake8-isort==2.9.0
flake8==3.7.9
idna==2.9
ipdb==0.13.2
ipython-genutils==0.2.0
ipython==7.13.0
isort[pyproject]==4.3.21
jedi==0.16.0
mccabe==0.6.1
more-itertools==8.2.0
mypy-extensions==0.4.3
mypy==0.770
packaging==20.3
parso==0.6.2
pdbpp==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
pip-tools==4.5.1
pluggy==0.13.1
prompt-toolkit==3.0.4
ptyprocess==0.6.0
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pygments==2.6.1
pyparsing==2.4.6
pyrepl==0.9.0
pytest-cov==2.8.1
pytest-cover==3.0.0
pytest-coverage==0.0
pytest-mock==2.0.0
pytest==5.4.1
requests==2.23.0
six==1.14.0
testfixtures==6.14.0
toml==0.10.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
wcwidth==0.1.8
wmctrl==0.3

# The following packages are considered to be unsafe in a requirements file:
# setuptools
