pip
flake8
flake8-black
flake8-eradicate
flake8-isort
mypy
pdbpp
pip-tools
pytest
pytest-coverage
pytest-icdiff
pytest-mock
structlog
twine

opentracing>=2.4.0
confluent-kafka[avro,schema-registry]==2.*
