pip
flake8
flake8-black
flake8-eradicate
flake8-isort
mypy
pdbpp
pip-tools
pytest
pytest-coverage
pytest-icdiff
pytest-mock
structlog
twine

opentelemetry-api==1.27.0
opentelemetry-semantic-conventions==0.48b0  # 0.48b0 == 1.27.0
confluent-kafka[avro,schema-registry]==2.*
