codecov
git+https://github.com/confluentinc/confluent-kafka-python@v0.11.4#egg=confluent-kafka[avro]
fastavro[ujson]==0.16.7
flake8
ipdb
mypy
pytest
pytest-coverage
pytest-mock
pytest-sugar
structlog
