pip
flake8
flake8-black
flake8-eradicate
flake8-isort
mypy
pdbpp
pip-tools
pytest
pytest-coverage
pytest-icdiff
pytest-mock
structlog
twine

confluent-kafka[avro]==2.*
opentelemetry-api==1.27.0
opentelemetry-semantic-conventions==0.48b0  # 0.48b0 == 1.27.0
requests>=2
